.container{
    width: 100%;
    margin: 0 auto;
}
header{
    background: linear-gradient(40deg, cyan, blue);
}
header::after{
    content:'';
    display: table;
    clear: both;
}

.logo{

    height:60px;
    float:left;
    padding: 8px 0;
}

nav{
    float:right;
}

nav ul{
    margin: 0;
    padding:0;
    list-style: none;
}

nav li{
    display:inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight:100;
}

nav a:hover{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

nav a::before{
    content: "";
    display: block;
    height:2px;
    background-color: black;
    
    position: absolute;
    top:0;
    width: 0%;
    transition: all ease-in-out 25ms;
}
nav a:hover::before{
    width: 100%;
}




.container-aside{
    position:fixed;
    margin-left: 10px;
    margin-top: 10px;
}
/*.nav-link::after{
    content: "";
    left:0;
    bottom:0;
    height: 2px;
    position: absolute;
    background-color: currentColor;

    transition: transform 200ms ease-in-out;
    transform-origin: left;
    transform:scaleX(.5)
}
.nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: right;
}*/
.container-covid{
    margin-bottom: 1000px;
}
.news{
    display: flex;
    flex-basis: 1 1 70%;
}
