<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='asia.css')}}">
    <link rel='icon' type='image.png' sizes="32/32" href="{{url_for('static',filename='images/icon.png')}}">
    <title>Asia</title>
</head>
<body>
    <header>
        <div class='container'>
            
            <img src="{{url_for('static',filename='images/logo.jpg')}}" alt="" class="logo">


            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Search</a></li>
                    <li><a href="/Home">Go Back</a></li>
                </ul>
            </nav>


        </div>
    </header>
    <aside class='container-aside'>
        <a href="#covid" class="contentlink">MENTAL</a>
        <a href="" class="contentlink"></a>
        <a href="" class="contentlink"></a>
        <a href="" class="contentlink"></a>
    </aside>
    <section class="container">
        <section class='container-covid' id='covid'>
            <div class="box">
                <h3>Covid</h3>
                <div class="container news">
                    <div class='des'>
                        <p><a target="blank_" href=''>USA has been </a></p>
                    </div>
                    <img class='damn' src='{{url_for("static", filename="images/")}}'>
                </div>
                
                <div class="container news">
                    <div class='des'>
                        <p><a target="blank_" href=""></a></p>
                    </div>
                </div>
                
                <div class="container news">
                    <p>IS</p>
                </div>
            </div>
        </section>
        <br>
        <section class='container mental' id='mental'>
            <div class="container-news">
                <p>fuck duck</p>
            </div>
            <div class="container-news">

            </div>
            <div class="container-news">

            </div>
            <div class="container-news">

            </div>
        </section>
    </section>

</body>
</html>